/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  margin: 0 0;
  padding: 0 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.italic {
  font-style: italic;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navBar {
  display: flex;
  position: fixed;
  z-index: 105;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#navBar.scrolled {
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#logo.scrolled {
  color: black;
  text-shadow: none;
}

.hamburger {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.hamburger.scrolled {
  color: black;
}

.itemContainer {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  
}

.navItem {
  margin-right: 20px; /* Adjust spacing */
}

.navItem a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s; /* Add a smooth color transition */
}

#itemList.scrolled a {
  color: black;
 
}

.navItem a:hover {
  color: #333; /* Change color on hover */
}

.overlay {
  background-color: black;
}

/* Responsive styles for Navbar*/
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .itemContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .navItem {
    margin: 10px 0;
  }

  #itemList.scrolled {
    background-color: white;
  }

  .title {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2rem;
  }
}

/* Hero Banner */

.HeroBanner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 75px;
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

.HeroBannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 60%;
  position: absolute;
  top: 0;
  left: 0;
}

.textContainer {
  z-index: 1;
  text-align: center;
}

.HeroTagLine {
  font-weight: 800;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.subTagLine {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .HeroBanner {
    margin-bottom: 25px;
  }

  .HeroTagLine {
    font-size: 2rem;
  }

  .subTagLine {
    font-size: 1.5rem;
  }
}

/* About me section */

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  width: 100%;
  margin-bottom: 25px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rightCol,
.leftCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aboutImg {
  height: auto;
  width: 50%;
  border-radius: 5px;
}

.aboutMeText {
  text-align: left;
  width: 80%;
  line-height: 20px;
}

@media (max-width: 768px) {
  .aboutUsContainer {
    margin-bottom: 25px;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }

  .aboutImg {
    width: 90%;
    margin-top: 20px;
  }
}

/* Destinations */

.destinationsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Responsive column width */
  grid-auto-rows: auto; /* Automatic row height */
  grid-gap: 50px; /* Gap between grid items */
}

.card {
  width: 80%;
  height: 100%;
  left: 39px;
  box-sizing: content-box;
  padding: 50px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

#card1 {
  grid-area: 1 / 1 / 1 / 1;
}

#card2 {
  grid-area: 2 / 1 /2 / 1;
  flex-direction: row-reverse;
}

#card3 {
  grid-area: 3/ 1 / 3 / 1;
}

.card--image {
  width: 275px;
  height: 350px;
  object-fit: cover;
  border-radius: 9px;
  height: auto; /* Increased height */
  left: 1px;
  border-radius: 5px;
}

.card-stats {
  display: flex;
  flex-direction: column;
 align-items: start;
}

.location {
  height: 10px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.17em;
  line-height: 12px;
  color: #2b283a;
  text-transform: uppercase;
}
.icon {
  height: 10px;
  margin-right: 4px;
  font-size: 16px;
}

.google-maps {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid #918e9b;
  margin-left: 12px;
}
a {
  text-decoration: none;
  color: #918e9b;
}

.desttitle {
  padding-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 30px;
  color: #2b283a;
}
.card-date {
  margin-top: 7px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #2b283a;

}

.card-description {
  width: 450px;
  height: 100%;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #2b283a;
}

.learn-more-btn {
  background-color: #f55a5a;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.learn-more-btn:hover {
  background-color: #d14949;  /* Darker shade for hover effect */
}

.learn-more-btn a {
  text-decoration: none; 
  color: white;
  font-weight: bold;
}
/* media query */
@media (max-width: 728px) {
  .destinations {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    justify-content: center;
  }

  .card, #card2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    padding: 25px 0px;
    left: 0;
  }

  .info-location {
    text-align: center;
  }
  .destTitle {
    text-align: center;
  }

  .card-stats { 
    align-items: center;
  }

  .card-date {
    position: relative;
    top: -5px;
    text-align: center;
    margin: 0;
  }
  .card-description {
    width: 100%;
    text-align: center;
  }
  .learn-more-btn, .learn-more-btn a{
    justify-self: center;
  }
}

/* Contact */
.contactContainer {
  width: 100%;
  background-color: #f0f0f0; /* Adjust background color as needed */
  padding: 20px;
  margin-bottom: 50px;
}

.wrapperContact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftColContact,
.rightColContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.textContact {
  width: 80%;
  text-align: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .wrapperContact {
    flex-direction: column;
  }

  .leftColContact,
  .rightColContact {
    flex: none;
  }
}

/* Styling for the footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* Styling for the logo in the footer */
.itemContainerFooter {
  list-style: none;
  padding: 0;
}

.navItemFooter {
  display: inline;
  margin: 0 10px;
  font-size: 16px;
  text-transform: capitalize; 
  color: #fff;
  text-decoration: none;
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
}

.icon {
  width: 40px;
  height:  40px;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 30px;
}

.navItemFooter:hover {
  text-decoration: underline;
}


#intro, #details, #booking {
  padding: 2em;
  max-width: 1200px;
  margin: auto;
}

.detail {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #fff;
}

#booking .package {
  background-color: #009688;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
}

/* Product page css */
.quote {
  width: 50%;
}

.bold {
  font-weight: bold;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
  
}

.carouselContainer {
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background: rgba(0,0,0,.1)
}

.card-carousel {
  --card-width: 80%;
  --card-max-width: 280px;
  --card-height: 350px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {
  background: whitesmoke;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0,0,0,.5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  border-radius: 1em;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.highlight {
  filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
    background-image: url("https://res.cloudinary.com/dheko2ynz/image/upload/v1698148085/Assets/car1_jvzalw.jpg");
}
 
.card:nth-of-type(2) .image-container {
  background-image: url("https://res.cloudinary.com/dheko2ynz/image/upload/v1698586726/azrul-aziz-DsvY9NRykRg-unsplash_zhmyvl.jpg")
}

.card:nth-of-type(3) .image-container {
  background-image: url("https://res.cloudinary.com/dheko2ynz/image/upload/v1698754774/pexels-tom%C3%A1%C5%A1-mal%C3%ADk-1998438_rjcpx6.jpg")
}
.card:nth-of-type(4) .image-container {
  background-image: url("https://res.cloudinary.com/dheko2ynz/image/upload/v1698151875/Philipines_eesg8s.jpg")
}
.card:nth-of-type(5) .image-container {
  background-image: url("https://res.cloudinary.com/dheko2ynz/image/upload/v1698148086/Assets/AA4CF619-8207-413A-91D5-11C8A6AEB075_jzg9os.jpg")
}



.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px rgba(0,0,0,.1);
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}


/* Pricing section */

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 0px 5px
}

@media screen and (max-width: 640px) {
  .pricing {
    margin-bottom: 25px;
  }
}